{% extends 'base.html' %}
{% block header %}
    {% block title %} Case Management Case{% endblock %}
{% endblock %}

{% block page_content %}
    <h1> Case Management Case</h1>
    <table>
            <tr>
                <th scope = "col">Case ID  </th>
                <th scope = "col">Case Title   </th>
                <th scope = "col">Case Description</th>
                <th scope = "col">Status  </th>
                <th scope = "col">Due By Date  </th>
            </tr>
            <tr>
                <td>{{case.id}}</td>
                <td>{{case.cmTitle}}</td>
                <td>{{case.cmDescription}}</td>
                <td>{{case.cmStatus}}</td>
                <td>{{case.cmDueDate}}</td>
            </tr>
        </table>
{% endblock %}